body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    min-height: 100vh;
    background-image: url('/resources/2/img/sunset.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

canvas {
    display: block;
    margin: 20px auto;
    background: black;
}

body:has(.container) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 10px;
    background-color: #dbbfbfaa;
    padding: 20px;
    box-shadow: 0px -1px 7px 5px #dbbfbfaa;
    border-radius: 15px;
}

.wall {
    background-image: url('/resources/2/img/bricks.png');
    background-size: 40px;
    position: absolute;
    bottom: 0;
    color: white;
    align-content: end;
}