body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    min-height: 100vh;
    background-image: url('/resources/2/img/sunset.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

canvas {
    display: block;
    margin: 20px auto;
    background: black;
}

body:has(.container) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #dbbfbfaa;
    padding: 20px;
    box-shadow: 2px 3px 20px 1px black;
}